:root {

    --font-size: 14px;
    --font-sans: 'Raleway', sans-serif;
  
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);

    --linearGradient: linear-gradient(135deg, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
}


*, *::before, *::after { box-sizing: border-box; }

body {
    font-family: var(--font-sans);
    color: var(--PaleBlue);
    margin: 0;
    padding: 0;
    background-color: var(--VeryDarkBlue);
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.storage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img { max-width: 100%; }

.storage__icons, .storage__summary { 
    background-color: var(--DarkBlue);
    margin: 20px 10vw;
    padding: 40px;
    border-radius: 10px;
    width: 80%;
}

.storage__icons { border-top-right-radius: 100px;}

.storage__icons--share { 
    margin: 15px 0px 0px 0px;
    display: flex;
}

.storage__icons--share img { 
    background-color: var(--VeryDarkBlue);
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
}

.storage__summary {
    display: flex;
    flex-direction: column;
    position: relative;
}

.storage__summaryText { 
    font-size: .85rem; 
    font-weight: 400;
}

.storage__summarySlider {
    background-color: var(--VeryDarkBlue);
    height: 15px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.storage__summarySlider--color {
    background: var(--linearGradient);
    height: 11.5px;
    width: 80%;
    border-radius: 10px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.storage__summarySlider--dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 2px;
}

.storage__summaryAlert { 
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    order: 4; 
    background-color: white;
    color: var(--VeryDarkBlue);
    text-transform: uppercase;
    font-size: .85rem;
    width: 50%;
    font-weight: 400;
    border-radius: 10px
}

.storage__summaryAlert strong { 
    font-size: 2rem; 
    padding: 10px;
}

.storage__summaryUnits {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    font-weight: 700;
}


@media only screen and (min-width: 900px) {
    body {
        background-image: url(../images/bg-desktop.png); 
        background-position: bottom;
        background-size: contain;
    }

    .storage { 
        flex-direction: row;
        align-items: center;
    }

    .storage__icons { 
        height: 200px;
        width: 30%;
        max-width: 300px;
        margin: 0 30px 16px 0;
    }

    .storage__summary { 
        max-width: 550px;
        height: 155px;
        width: 50%;
        margin: 30px 0 0 0;
        padding: 32px;
    }

    .storage__summaryAlert { 
        position: absolute;
        top: -30px;
        left: 80%;
        width: 30%;
        font-size: .7rem;
        border-bottom-right-radius: 0;
    }

    .storage__summaryAlert::after {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: white;
        position: absolute;
        bottom: -1rem;
        right: 0;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
      }

}